@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.title = "Contact Us";
    Layout = "/Views/Shared/_Layout.cshtml";
 
}
@model Contact_U

<div class="back_re">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2>Contact Us</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  contact -->
@if (Context.Session.GetInt32("UserId")!=null)
        {
            int? Id = Context.Session.GetInt32("UserId");
            Hotel_App db = new Hotel_App();
            var x = db.Customers.Find(Id);



        <div class="contact">
    <div class="container">
        <div class="row">
           <div class="col-md-6">

                    <form class="main_form" method="post" asp-action="ContactUs" asp-controller="Home">
                        <div class="row">



                            <div class="col-md-12">
                                <textarea class="textarea" placeholder="Message" type="type" asp-for="Message" value="@string.Empty">Message</textarea>
                            </div>
                            <div class="col-md-12">
                                <button class="send_btn">Send</button>
                            </div>

                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <div class="map_main">
                        <div class="map-responsive">
                            <img src="~/Imgs/@x.Img" />
                        </div>
                    </div>
                </div>


        </div>
    </div>
</div>
}
<!-- end contact -->
