@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ ViewBag.title = "Our Room";
    Layout = "/Views/Shared/_Layout.cshtml";
    Hotel_App db = new Hotel_App();
    bool? isadmin = db.Customers.Where(m => m.IsAdmin == true).Any();

}
@model List<Room>
<div class="back_re">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2>Our Room</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- our_room -->
@{if (Model==null)
    {
        <div class="alert alert-warning" role="alert">
            <i class="bi bi-exclamation-triangle"></i>
            No Rooms Founded
        </div>

    }
    else
    {



        <div class="our_room">
            <div class="container">
                @if (Context.Session.GetInt32("UserId") == null)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="titlepage">
                                <span class="alert bg-light text-black fs-4">No Data Ples Login</span>
                            </div>
                        </div>

                    </div>
                }
                    @if (Context.Session.GetInt32("UserId") != null)
                    {
                        <div class="row">
                            @foreach (var item in Model)
                            {



                                <div class="col-md-4 col-sm-6">
                                    <div id="serv_hover" class="room">
                                        <div class="room_img">
                                            <figure><img src="~/Rooms/@item.Img" alt="#" /></figure>
                                        </div>
                                        <div class="bed_room">
                                            <p style="word-break:break-word">@item.Description </p>
                                            <span style="font-size:20px"><sub class="fs-4" style="font-size:20px"><del class="text-danger fw-bold fs-5">12$</del></sub>@item.Price</span>
                                        </div>
                                        <div class="col-md-6">


                                            @{ if (isadmin == true)
                                                {


                                                    <center>
                                                        <a asp-page-handler="Delete" asp-route-Id="@item.Room_number" class="btn btn-danger text-white btn-sm" onclick="return confirm(`Are You sure to Delete `)">Delete</a>
                                                    </center>
                                                }

                                                else
                                                {

                                                <center>
                                                    <a class="btn btn-primary text-white fs-4" asp-route-Id="@item.Room_number" asp-action="Reversation" asp-controller="Opration">Order</a>
                                                </center>
                                                    }
                                                }
                                        </div>
                                    </div>
                                </div>
                            }







                        </div>
                    }
                </div>
        </div>
    }
}

<!-- end our_room -->
