
@{
    ViewBag.title = "Create_Room";
}
@model Room
<h1>Create_Room</h1>
<div class="row justify-content-between">


    <div class=" col-8">

        <form class="col-12 m-4 p-5" method="post" asp-action="Create_Room" asp-controller="Opration" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger" style="font-weight:bolder"></div>






            <div class="col-6 p-4">
                <label asp-for="Description">Description</label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="col-6 p-4">
                <label asp-for="Price">Price</label>
                <input type="text" asp-for="Price" placeholder="Price" class="form-control">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="col-6 p-4">
                <div class="custom-file">
                    <input type="file" asp-for="Img" class="custom-file-input" />
                    <label asp-for="Img" class="custom-file-label"></label><br />
                   
                </div>
            </div>



            <div class="col-6 p-4">
                <input type="submit" class="btn btn-success" value="Add" />
                <input type="reset" class="btn btn-warning" value="Clear" />
                <a asp-action="Index" asp-controller="User" class="btn btn-primary">Return</a>
            </div>
        </form>
    </div>
    <div class="col-4 d-none " id="poster-container">
        <img src="" />
    </div>
</div>
@section Scripts{

    <script src="~/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>
    $('#Img').on('change', function () {
        var SelectedFile = $(this).val().split('\\').pop();
        $(this).siblings('label').text(SelectedFile);

        var posterContainer = $('#poster-container');
        posterContainer.removeClass('d-none');

        var Image = window.URL.createObjectURL(this.files[0]);
        posterContainer.find('img').attr('src', Image);

    });
    </script>
}