
@{
    ViewBag.title = "Reversation";
    int? x = ViewBag.Id;
}
@model Revevarstion
<h1>Reversation</h1>
<div class="container d-flex text-center col-md-5 h-50 ">

    <form class="book_now" method="post" asp-action="Reversation" asp-controller="Opration">
        <input type="hidden" asp-for="@x" />
        <input type="hidden" asp-for="Customer_Id" />
        <div class="row p-4">
            <div class="col-md-12">
                <span class="text-black bg-info">Arrival</span>
                <img class="date_cua" src="~/images/date.png">
                <input class="form-control" placeholder="dd/mm/yyyy" type="date" asp-for="Reservation_Date" />
                <span class="text-danger" asp-validation-for="Reservation_Date"></span>
            </div>
            <div class="col-md-12">
                <span class="text-black bg-info">Departure</span>
                <img class="date_cua" src="~/images/date.png">
                <input class="form-control" placeholder="dd/mm/yyyy" type="date" asp-for="Expiry_Date">
                <span class="text-danger" asp-validation-for="Expiry_Date"></span>

            </div>
            <div class="col-md-12">
                <button class="book_btn" type="submit">Book Now</button>
            </div>
        </div>
    </form>

</div>